# coding: utf-8

%h1 ユーザ一覧

%div.list-title
  %div.name.pull-left
    %strong name
  %div.role.pull-right
    %strong role

%ul.list-group
  - @users.each do |user|
    %li.list-group-item
      %div.username.pull-left= user.username
      %div.userrole.pull-right= user.role

%br

= link_to 'New User', new_user_registration_path
