
%div.row
  %div.span4
  %div.span4
    %h3 Projects
    %table.table.table-hover.table-condensed
      %tr
        %th ID
        %th Project name
    
      - @projects.each do |project|
        %tr
          %td= project.id
          %td
            %a.project_name{:href=>"#", "data-type"=>"text", "data-pk"=>project.id, "data-name"=>"project_name", "data-url" => "#{@urlroot}/projects/#{project.id}.json"}= project.project_name 
    
      %tr
        %td new
        %td
          %a.new_project{:href=>"#", "data-type"=>"text", "data-pk"=>"new", "data-name"=>"project_name", "data-url" => "#{@urlroot}/projects.json"} new project
  %div.span4
