%h1 Listing projects

%table.grouptbl
  %tr.grouptbl_tr
    %th.grouptbl_th ID
    %th.grouptbl_th Project name

  - @projects.each do |project|
    %tr.grouptbl_tr
      %td.groutbl_td= project.id
      %td.grouptbl_td_edit{:prjid=>project.id, :url => @urlroot}= project.project_name

  %tr.grouptbl_tr
    %td.groutbl_td new
    %td.grouptbl_td_edit{:url => @urlroot} new project

%br

