// Place all the styles related to the DesignData controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

//li
//  margin: auto
//  text-align: center

.container.nav-collapse ul.navright
  position: relative
  display: block
  float: right
  margin: 0 10px 0 0

.container.nav-collapse ul.navright li
  float: left

.container.nav-collapse ul.navright li span
  float: right
  display: block
  margin: auto
  padding: 10px 15px 10px 

li span
  margin: auto
  padding: 10px 15px 10px 
  display: block
